body {
  font-family : "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
}

.container {
  width : 1170px;
  margin : 0 auto;
}
header {
  width : 100%;
  background : rgba(255, 255, 255, 1);
  position : fixed;
  z-index : 10;
}

.header-nav {
  display : flex;
  justify-content: space-between;
  line-height : 70px;
  align-items : center;
}

.header-nav ul {
  display : flex;
  justify-content : space-between;
  align-items : center;
}

header li {
  margin-right : 50px;
  font-size : 15px;
}

.top-wrapper {
  position : relative;
  height : 750px;
}

.top-wrapper img {
  width : 70%;
  height : 500px;
  object-fit : cover;
  margin-left : 30%;
  margin-top : 80px;
}

.top-wrapper h2 {
  position : absolute;
  top : 30%;
  left : 25%;
  background : rgba(255, 255, 255, 0.6);
  font-size : 2.5rem;
  padding : 1rem;
}

.bg1 {
  background : #e8e7e7;
  height : 800px;
  width : 45%;
  position : absolute;
  top : -18%;
  left : 0;
  z-index : -10;
}

.main-wrapper h2 {
  margin-bottom : 50px;
  text-align : center;
}

.main-wrapper {
  height : 600px;
}
.main-wrapper .contents {
  display : flex;
  width : 100%;
  justify-content : space-between;
  margin : 0 auto;
  align-items : center;
}

.main-wrapper .contents figure {
  width : 50%;
}

.main-wrapper img {
  width : 100%;
  height : 500px;
  object-fit : cover;
}

.main-wrapper .content {
  width : 48%;
}

.work-wrapper {
  width : 100%;
  padding-top : 40px;
  position : relative;
}

.work-wrapper::before {
  content : '';
  background : #eee;
  position : absolute;
  width : 100%;
  height : 300px;
  z-index : -10;
}

.work-wrapper h2 {
  margin : 80px 0;
  text-align : center;
  font-size : 24px;
}

.work-wrapper ul {
  display : flex;
  justify-content : space-between;
  width : 1200px;
  margin : 0 auto;
}

.work-wrapper ul li {
  width : 300px;
}

.work-wrapper ul li figure {
  margin 0;
}

.news-wrapper .container {
  width : 980px;
  margin : 180px auto;
}

.news-wrapper h2 {
  font-size : 24px;
  text-align : center;
  margin-bottom : 50px;
}

.news-wrapper ul {
  border : 2px solid #ddd;
  padding : 20px;
}

.news-wrapper li {
  border-bottom : dotted 1px #dedede;
  padding : 20px 0;
}

.contact {
  position : relative;
}

.contact img {
  width : 80%;
  height : 400px;
  margin-right : 20%;
  object-fit : cover;
}

.contact h2 a {
  position : absolute;
  top : 45%;
  right : 50%;
  width : 250px;
  height : 60px;
  background-color : rgba(255,255,255,0.7);
  line-height : 60px;
  text-align : center;
  border-radius : 8px;
}

.contact h2 a:hover {
  background-color : rgba(255,255,255,0.9);
  transition : 0.3s;
}

.bg2 {
  background : #e8e7e7;
  height : 400px;
  width : 45%;
  position : absolute;
  top : -20%;
  right : 0;
  z-index : -10;
}

footer {
  margin-top : 100px;
}

.footer-left {
  float : left;
}

.footer-right {
  float : right;
  margin-top : 50px;
}

.footer-right li {
  float : left;
  margin-right : 25px;
}
